.progress-value {
  width: 70px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 20px;
  transition: .1s;
}

.progress-value.disabled {
  cursor: default;
  opacity: 0.3;
}