@import url('./circle.css');
@import url('./colors.css');
@import url('./input.css');
@import url('./toggler.css');
@import url('./reset.css');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 80px 60px;
}

.panel {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.panel-tool {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

@media (max-width: 480px) {
  .progress {
    flex-direction: column;
    align-items: start;
  }
}